<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
<key>CFBundleDisplayName</key><string>RightMouse</string>
<key>CFBundleName</key><string>RightMouse</string>
<key>CFBundleExecutable</key><string>RightMouse</string>
<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>LSUIElement</key><true/>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>NSHighResolutionCapable</key><true/>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>NSAppleEventsUsageDescription</key><string>RightMouse 需要在你选择的目录中打开终端。</string>
<key>RightMouseAppGroup</key><string>$(RIGHTMOUSE_APP_GROUP)</string>
<key>CFBundleURLTypes</key><array><dict>
<key>CFBundleURLName</key><string>cn.rightmouse.dispatch</string>
<key>CFBundleURLSchemes</key><array><string>rightmouse</string></array>
<key>CFBundleTypeRole</key><string>Viewer</string>
</dict></array>
</dict></plist>
